@model HopePipeline.Models.DbEntities.Tracking.EditTrackingm;
@{
    ViewData["Title"] = "EditTrackingForm";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<style>
    .form-style-9 {
        max-width: 1000px;
        background: #FAFAFA;
        padding: 60px;
        margin: 50px auto;
        border-radius: 10px;
        border: 6px solid #305A72;
    }

        .form-style-9 ul {
            padding: 0;
            margin: 0;
            list-style: none;
        }

            .form-style-9 ul li {
                display: block;
                margin-bottom: 10px;
                min-height: 35px;
            }

                .form-style-9 ul li .field-style {
                    box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    padding: 8px;
                    outline: none;
                    border: 1px solid #B0CFE0;
                    -webkit-transition: all 0.30s ease-in-out;
                    -moz-transition: all 0.30s ease-in-out;
                    -o-transition: all 0.30s ease-in-out;
                }

                    .form-style-9 ul li .field-style:focus {
                        box-shadow: 0 0 5px #B0CFE0;
                        border: 1px solid #B0CFE0;
                    }

                .form-style-9 ul li .field-split {
                    width: 49%;
                }

                .form-style-9 ul li .field-full {
                    width: 100%;
                }

                .form-style-9 ul li input.align-left {
                    float: left;
                }

                .form-style-9 ul li input.align-right {
                    float: right;
                }

                .form-style-9 ul li textarea {
                    width: 100%;
                    height: 100px;
                }

                .form-style-9 ul li input[type="button"],
                .form-style-9 ul li input[type="submit"] {
                    -moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
                    -webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
                    box-shadow: inset 0px 1px 0px 0px #3985B1;
                    background-color: #216288;
                    border: 1px solid #17445E;
                    display: inline-block;
                    cursor: pointer;
                    color: #FFFFFF;
                    padding: 8px 18px;
                    text-decoration: none;
                    font: 12px Arial, Helvetica, sans-serif;
                }

                    .form-style-9 ul li input[type="button"]:hover,
                    .form-style-9 ul li input[type="submit"]:hover {
                        background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
                        background-color: #28739E;
                    }

    #ifYes, #ifNo {
        display: none;
    }

    #yesCheck:checked ~ #ifYes {
        display: block;
    }

    #noCheck:checked ~ #ifNo {
        display: block;
    }

    #ifYe, #ifN {
        display: none;
    }

    #yesGrade:checked ~ #ifYe {
        display: block;
    }

    #noGrade:checked ~ #ifN {
        display: block;
    }

    #ifYesIEP, #ifNoIEP {
        display: none;
    }

    #yesIEP:checked ~ #ifYesIEP {
        display: block;
    }

    #noIEP:checked ~ #ifNoIEP {
        display: block;
    }

    #ifYesComp, #ifNoComp {
        display: none;
    }

    #yesComp:checked ~ #ifYesComp {
        display: block;
    }

    #noComp:checked ~ #ifNoComp {
        display: block;
    }

    #ifYesBullied, #ifNoBullied {
        display: none;
    }

    #yesBullied:checked ~ #ifYesBullied {
        display: block;
    }

    #noBullied:checked ~ #ifNoBullied {
        display: block;
    }

    #ifYesReport, #ifNoReport {
        display: none;
    }

    #yesRep:checked ~ #ifYesReport {
        display: block;
    }

    #noRep:checked ~ #ifNoReport {
        display: block;
    }

    #ifYesAlt, #ifNoAlt {
        display: none;
    }

    #yesAlt:checked ~ #ifYesAlt {
        display: block;
    }

    #noAlt:checked ~ #ifNoAlt {
        display: block;
    }

    #ifYesRef, #ifNoRef {
        display: none;
    }

    #yesRef:checked ~ #ifYesRef {
        display: block;
    }

    #noRef:checked ~ #ifNoRef {
        display: block;
    }

    #ifYesSus, #ifNoSus {
        display: none;
    }

    #yesSus:checked ~ #ifYesSus {
        display: block;
    }

    #noSus:checked ~ #ifNoSus {
        display: block;
    }
</style>

<script>
    function pagination(id) {
        var page1 = document.getElementById("page1");
        var page2 = document.getElementById("page2");
        var page3 = document.getElementById("page3");
        var page4 = document.getElementById("page4");
        switch (id) {
            case "1":
                page1.style.display = "block";
                page2.style.display = "none";
                page3.style.display = "none";
                page4.style.display = "none";
                break;
            case "2":
                page1.style.display = "none";
                page2.style.display = "block";
                page3.style.display = "none";
                page4.style.display = "none";
                break;
            case "3":
                page1.style.display = "none";
                page2.style.display = "none";
                page3.style.display = "block";
                page4.style.display = "none";
                break;
            case "4":
                page1.style.display = "none";
                page2.style.display = "none";
                page3.style.display = "none";
                page4.style.display = "block";
                break;
        }
    }
</script>
@{
    var info = ViewBag.LSessage;
}
<h2> Center for Children's Rights Tracking Form Edit</h2>

<form asp-action="editTrackingForm" asp-controller="n" class="form-style-9" method="post">

    <div id="page1">
        <h3>Demographic Information</h3>
        <ul>
            <li>
                <input asp-for="ClientID" type="hidden" class="field-style field-full align-none" value="@info.ClientID" />
            </li>

            <li>
                Referral Source<br>
                <input asp-for="referralSource" type="text" class="field-style field-full align-none" value="@info.referralSource" />
            </li>

            <li>
                Youth's First and Last Name <br>
                <input asp-for="clientFirstName" type="text" class="field-style field-split align-left" value="@info.clientFirstName" />
                <input asp-for="clientLastName" type="text" class="field-style field-split align-right" value="@info.clientLastName" />
                <br />
            </li>


            <li>
                Date of Birth <br />
                <input asp-for="clientDOB" type="date" min="2001-01-01" max="2050-12-31" class="field-style field-full align-none" value="@info.clientDOB"> <br />
            </li>

            <li>
                Gender Identity <br>
                <div>
                    @{ if (info.clientGender.Contains("male"))
                        { <input asp-for="clientGender" type="radio" name="clientGender" value="male" checked>}
                        else
                        { <input asp-for="clientGender" type="radio" name="clientGender" value="male">} } He / Him / His<br>

                    @{ if (info.clientGender.Contains("female"))
                        { <input asp-for="clientGender" type="radio" name="clientGender" value="female" checked>}
                        else
                        { <input asp-for="clientGender" type="radio" name="clientGender" value="female">} } She/Her/Hers<br>
                    @{ if (info.clientGender.Contains("trans"))
                        { <input asp-for="clientGender" type="radio" name="clientGender" value="trans" checked>}
                        else
                        { <input asp-for="clientGender" type="radio" name="clientGender" value="trans">} } They/Them/Theirs<br>
                    @{ if (info.clientGender.Contains("nonbinaryF"))
                        { <input asp-for="clientGender" type="radio" name="clientGender" value="nonbinaryF" checked>}
                        else
                        { <input asp-for="clientGender" type="radio" name="clientGender" value="nonbinaryF">} } She/They<br>
                    @{ if (info.clientGender.Contains("nonbinaryM"))
                        { <input asp-for="clientGender" type="radio" name="clientGender" value="nonbinaryM" checked>}
                        else
                        { <input asp-for="clientGender" type="radio" name="clientGender" value="nonbinaryM">} } He/They<br>
                    @{ if (info.clientGender.Contains("neutral"))
                        { <input asp-for="clientGender" type="radio" name="clientGender" value="neutral" checked>}
                        else
                        { <input asp-for="clientGender" type="radio" name="clientGender" value="neutral">} } Zie/Zir/Zirs<br>
                </div>
            </li>

            <li>
                Ethnicity <br>
                <select asp-for="clientEthnicity" class="field-style field-full align-none">
                    @{if (info.clientEthnicity == "nhWhite")
                        {
                            <option value="nhWhite" selected>Non Hispanic White</option>
                        }
                        else
                        {
                            <option value="nhWhite">Non Hispanic White</option>
                        }}
                    @{if (info.clientEthnicity == "hispanic")
                        {
                            <option value="hispanic" selected>Hispanic</option>
                        }
                        else
                        {
                            <option value="hispanic">Hispanic</option>
                        }}
                    @{if (info.clientEthnicity == "natAm")
                        {
                            <option value="natAm" selected>Native American</option>
                        }
                        else
                        {
                            <option value="natAm">Native American</option>
                        }}
                    @{if (info.clientEthnicity == "jewish")
                        {
                            <option value="jewish" selected>Jewish</option>
                        }
                        else
                        {
                            <option value="jewish">Jewish</option>
                        }}
                    @{if (info.clientEthnicity == "black")
                        {
                            <option value="black" selected>Black</option>
                        }
                        else
                        {
                            <option value="black">Black</option>
                        }}
                    @{if (info.clientEthnicity == "Multiple Ethnicities")
                        {
                            <option value="multi" selected>Multiple Ethnicities</option>
                        }
                        else
                        {
                            <option value="multi">Multiple Ethnicities</option>
                        }}
                    @{if (info.clientEthnicity == "Ethnicity Not Listed")
                        {
                            <option value="notListed" selected>Ethnicity Not Listed</option>
                        }
                        else
                        {
                            <option value="notListed">Ethnicity Not Listed</option>
                        }}

                </select>
            </li>

            <li>
                School <br>
                <input asp-for="school" type="text" class="field-style field-full align-none" value="@info.school" />
            </li>

            <li>
                Grade Level <br />
                <select asp-for="currentGrade" class="field-style field-full align-none">
                    @{if (info.currentGrade == "0")
                        {
                            <option value="0" label="K" selected>Kindergarten</option>
                        }
                        else
                        {
                            <option value="0" label="K">Kindergarten</option>
                        }}
                    @{if (info.currentGrade == "1")
                        {
                            <option value="1" label="1" selected>1st Grade</option>
                        }
                        else
                        {
                            <option value="1" label="1">1st Grade</option>
                        }}
                    @{if (info.currentGrade == "2")
                        {
                            <option value="2" label="2" selected>2nd Grade</option>
                        }
                        else
                        {
                            <option value="2" label="2">2nd Grade</option>
                        }}
                    @{if (info.currentGrade == "2")
                        {
                            <option value="2" label="2" selected>2nd Grade</option>
                        }
                        else
                        {
                            <option value="2" label="2">2nd Grade</option>
                        }}
                    @{if (info.currentGrade == "3")
                        {
                            <option value="3" label="3" selected>3rd Grade</option>
                        }
                        else
                        {
                            <option value="3" label="3">3rd Grade</option>
                        }}
                    @{if (info.currentGrade == "4")
                        {
                            <option value="4" label="4" selected>4th Grade</option>
                        }
                        else
                        {
                            <option value="4" label="4">4th Grade</option>
                        }}
                    @{if (info.currentGrade == "5")
                        {
                            <option value="5" label="5" selected>5th Grade</option>
                        }
                        else
                        {
                            <option value="5" label="5">5th Grade</option>
                        }}
                    @{if (info.currentGrade == "6")
                        {
                            <option value="6" label="6" selected>6th Grade</option>
                        }
                        else
                        {
                            <option value="6" label="6">6th Grade</option>
                        }}
                    @{if (info.currentGrade == "7")
                        {
                            <option value="7" label="7" selected>7th Grade</option>
                        }
                        else
                        {
                            <option value="7" label="7">7th Grade</option>
                        }}
                    @{if (info.currentGrade == "8")
                        {
                            <option value="8" label="8" selected>8th Grade</option>
                        }
                        else
                        {
                            <option value="8" label="8">8th Grade</option>
                        }}
                    @{if (info.currentGrade == "9")
                        {
                            <option value="9" label="9" selected>9th Grade</option>
                        }
                        else
                        {
                            <option value="9" label="9">9th Grade</option>
                        }}
                    @{if (info.currentGrade == "10")
                        {
                            <option value="10" label="10" selected>10th Grade</option>
                        }
                        else
                        {
                            <option value="10" label="10">10th Grade</option>
                        }}
                    @{if (info.currentGrade == "11")
                        {
                            <option value="11" label="11" selected>11th Grade</option>
                        }
                        else
                        {
                            <option value="11" label="11">11th Grade</option>
                        }}
                    @{if (info.currentGrade == "12")
                        {
                            <option value="12" label="12" selected>12th Grade</option>
                        }
                        else
                        {
                            <option value="12" label="12">12th Grade</option>
                        }}


                </select>
            </li>


            <li>
                <label>Failed a Grade</label><br />Yes
                @{if (info.failedGrade == 1)
                    { <input asp-for="failedGrade" type="radio" name="failedGrade" id="yesGrade" value="1" checked> }
                    else
                    { <input asp-for="failedGrade" type="radio" name="failedGrade" id="yesGrade" value="1"> } }
                &nbsp;
                No
                @{if (info.failedGrade == 0)
                    { <input asp-for="failedGrade" type="radio" name="failedGrade" id="noGrade" value="0" checked> }
                    else
                    { <input asp-for="failedGrade" type="radio" name="failedGrade" id="noGrade" value="0"> } }
                &nbsp;

                <br>
                <br>

                <div id="ifYe">
                    If yes, which grade?<br />
                    <select asp-for="whichGradeFailed" id="mathLevel" class="field-style field-full align-none">
                        @{if (info.whichGradeFailed == 0)
                            {
                                <option value="0" label="K" selected>Kindergarten</option>
                            }
                            else
                            {
                                <option value="0" label="K">Kindergarten</option>
                            }}
                        @{if (info.whichGradeFailed == 1)
                            {
                                <option value="1" label="1" selected>1st Grade</option>
                            }
                            else
                            {
                                <option value="1" label="1">1st Grade</option>
                            }}
                        @{if (info.whichGradeFailed == 2)
                            {
                                <option value="2" label="2" selected>2nd Grade</option>
                            }
                            else
                            {
                                <option value="2" label="2">2nd Grade</option>
                            }}
                        <option value="2" label="2">2nd Grade</option>
                        }}
                        @{if (info.whichGradeFailed == 3)
                            {
                                <option value="3" label="3" selected>3rd Grade</option>
                            }
                            else
                            {
                                <option value="3" label="3">3rd Grade</option>
                            }}
                        @{if (info.whichGradeFailed == 4)
                            {
                                <option value="4" label="4" selected>4th Grade</option>
                            }
                            else
                            {
                                <option value="4" label="4">4th Grade</option>
                            }}
                        @{if (info.whichGradeFailed == 5)
                            {
                                <option value="5" label="5" selected>5th Grade</option>
                            }
                            else
                            {
                                <option value="5" label="5">5th Grade</option>
                            }}
                        @{if (info.whichGradeFailed == 6)
                            {
                                <option value="6" label="6" selected>6th Grade</option>
                            }
                            else
                            {
                                <option value="6" label="6">6th Grade</option>
                            }}
                        @{if (info.whichGradeFailed == 7)
                            {
                                <option value="7" label="7" selected>7th Grade</option>
                            }
                            else
                            {
                                <option value="7" label="7">7th Grade</option>
                            }}
                        @{if (info.whichGradeFailed == 8)
                            {
                                <option value="8" label="8" selected>8th Grade</option>
                            }
                            else
                            {
                                <option value="8" label="8">8th Grade</option>
                            }}
                        @{if (info.whichGradeFailed == 9)
                            {
                                <option value="9" label="9" selected>9th Grade</option>
                            }
                            else
                            {
                                <option value="9" label="9">9th Grade</option>
                            }}
                        @{if (info.whichGradeFailed == 10)
                            {
                                <option value="10" label="10" selected>10th Grade</option>
                            }
                            else
                            {
                                <option value="10" label="10">10th Grade</option>
                            }}
                        @{if (info.whichGradeFailed == 11)
                            {
                                <option value="11" label="11" selected>11th Grade</option>
                            }
                            else
                            {
                                <option value="11" label="11">11th Grade</option>
                            }}
                        @{if (info.whichGradeFailed == 12)
                            {
                                <option value="12" label="12" selected>12th Grade</option>
                            }
                            else
                            {
                                <option value="12" label="12">12th Grade</option>
                            }}
                    </select>
                    <br />
                    &nbsp;

                    <br />
                    How many times? <br />
                    <input asp-for="failCount" type="number" />
                    <br />
                    <br />
                </div>

                <div id="ifN">

                </div>
            </li>

            <li>
                <h3>Caregiver Info</h3>
                Caregiver First Name<br /><input asp-for="careFirstName" class="field-style field-full align-none" value="@info.careFirstName"><br />
                <br />Caregiver Last Name<br /><input asp-for="careLastName" asptype="text" class="field-style field-full align-none" value="@info.careLastName"><br />
                <br />Caregivers relation to youth:<br />
                @{ if (info.careGender.Contains("Mother"))
                    { <input asp-for="careGender" type="radio" name="careGender" value="Mother" checked>}
                    else
                    { <input asp-for="careGender" type="radio" name="careGender" value="Mother">} } Mother <br />
                @{ if (info.careGender.Contains("Father"))
                    { <input asp-for="careGender" type="radio" name="careGender" value="Father" checked>}
                    else
                    { <input asp-for="careGender" type="radio" name="careGender" value="Father">} } Father <br />
                @{if (info.careGender.Contains("mGrandma"))
                    { <input asp-for="careGender" type="radio" name="careGender" value="mGrandma" checked>}
                    else
                    {<input asp-for="careGender" type="radio" name="careGender" value="mGrandma">}
                } Grandmother
                <br>
                @{if (info.careGender.Contains("mGrandpa"))
                    { <input asp-for="careGender" type="radio" name="careGender" value="mGrandpa" checked>}
                    else
                    {<input asp-for="careGender" type="radio" name="careGender" value="mGrandpa">} }
                Grandfather
                <br>
                @{ if (info.careGender.Contains("Other"))
                    {<input asp-for="careGender" type="radio" name="careGender" value="Other" checked>}
                    else
                    {<input asp-for="careGender" type="radio" name="careGender" value="Other"> } } Other
                <br>
                <br /> Caregivers Ethnicity<br /> <select asp-for="careEthnicity" class="field-style field-full align-none">
                    @{if (info.careEthnicity == "nhWhite")
                        {
                            <option value="nhWhite" selected>Non Hispanic White</option>
                        }
                        else
                        {
                            <option value="nhWhite">Non Hispanic White</option>
                        }}
                    @{if (info.careEthnicity == "hispanic")
                        {
                            <option value="hispanic" selected>Hispanic</option>
                        }
                        else
                        {
                            <option value="hispanic">Hispanic</option>
                        }}
                    @{if (info.careEthnicity == "natAm")
                        {
                            <option value="natAm" selected>Native American</option>
                        }
                        else
                        {
                            <option value="natAm">Native American</option>
                        }}
                    @{if (info.careEthnicity == "jewish")
                        {
                            <option value="jewish" selected>Jewish</option>
                        }
                        else
                        {
                            <option value="jewish">Jewish</option>
                        }}
                    @{if (info.careEthnicity == "black")
                        {
                            <option value="black" selected>Black</option>
                        }
                        else
                        {
                            <option value="black">Black</option>
                        }}
                    @{if (info.careEthnicity == "Multiple Ethnicities")
                        {
                            <option value="multi" selected>Multiple Ethnicities</option>
                        }
                        else
                        {
                            <option value="multi">Multiple Ethnicities</option>
                        }}
                    @{if (info.careEthnicity == "Ethnicity Not Listed")
                        {
                            <option value="notListed" selected>Ethnicity Not Listed</option>
                        }
                        else
                        {
                            <option value="notListed">Ethnicity Not Listed</option>
                        }}

                </select><br />
                <br /> Caregivers Phone Number <br /> <input type="tel" asp-for="carePhone" value="@info.carePhone" /><br />
            </li>


            <li>
                Baker Acted?<br />
                @{if (info.baker == 1)
                    { <input asp-for="baker" type="radio" name="baker" value="1" checked> }
                    else
                    { <input asp-for="baker" type="radio" name="baker" value="1"> } }
                Yes <br />
                @{if (info.baker == 0)
                    { <input asp-for="baker" type="radio" name="baker" value="0" checked> }
                    else
                    { <input asp-for="baker" type="radio" name="baker" value="0"> } }
                No
            </li>

            <li>
                Marchman Acted?<br />
                @{if (info.marchman == 1)
                    { <input asp-for="marchman" type="radio" name="marchman" value="1" checked> }
                    else
                    { <input asp-for="marchman" type="radio" name="marchman" value="1"> } }
                Yes <br />
                @{if (info.marchman == 0)
                    { <input asp-for="marchman" type="radio" name="marchman" value="0" checked> }
                    else
                    { <input asp-for="marchman" type="radio" name="marchman" value="0"> } }
                No

            </li>

            <li>
                Female-led household?<br />
                @{if (info.femHouse == 1)
                    { <input asp-for="femHouse" type="radio" name="femHouse" value="1" checked> }
                    else
                    { <input asp-for="femHouse" type="radio" name="femHouse" value="1"> } }
                Yes <br />
                @{if (info.femHouse == 0)
                    { <input asp-for="femHouse" type="radio" name="femHouse" value="0" checked> }
                    else
                    { <input asp-for="femHouse" type="radio" name="femHouse" value="0"> } }
                No

            </li>

            <li>
                Domestic Violence?<br />
                @{if (info.domVio == 1)
                    { <input asp-for="domVio" type="radio" name="domVio" value="1" checked> }
                    else
                    { <input asp-for="domVio" type="radio" name="domVio" value="1"> } }
                Yes <br />
                @{if (info.domVio == 0)
                    { <input asp-for="domVio" type="radio" name="domVio" value="0" checked> }
                    else
                    { <input asp-for="domVio" type="radio" name="domVio" value="0"> } }
                No

            </li>

            <li>
                Adopted?<br />
                @{if (info.adopted == 1)
                    { <input asp-for="adopted" type="radio" name="adopted" value="1" checked> }
                    else
                    { <input asp-for="adopted" type="radio" name="adopted" value="1"> } }
                Yes <br />
                @{if (info.adopted == 0)
                    { <input asp-for="adopted" type="radio" name="adopted" value="0" checked> }
                    else
                    { <input asp-for="adopted" type="radio" name="adopted" value="0"> } }
                No

            </li>

            <li>
                Evicted?<br />
                @{if (info.evicted == 1)
                    { <input asp-for="evicted" type="radio" name="evicted" value="1" checked> }
                    else
                    { <input asp-for="evicted" type="radio" name="evicted" value="1"> } }
                Yes <br />
                @{if (info.evicted == 0)
                    { <input asp-for="evicted" type="radio" name="evicted" value="0" checked> }
                    else
                    { <input asp-for="evicted" type="radio" name="evicted" value="0"> } }
                No

            </li>

            <li>
                Incarcarated Parent?<br />
                @{if (info.incarParent == 1)
                    { <input asp-for="incarParent" type="radio" name="incarParent" value="1" checked> }
                    else
                    { <input asp-for="incarParent" type="radio" name="incarParent" value="1"> } }
                Yes <br />
                @{if (info.incarParent == 0)
                    { <input asp-for="incarParent" type="radio" name="incarParent" value="0" checked> }
                    else
                    { <input asp-for="incarParent" type="radio" name="incarParent" value="0"> } }
                No

            </li>

            <li>
                Receiving public assistance?<br />
                @{if (info.publicAssistance == 1)
                    { <input asp-for="publicAssistance" type="radio" name="publicAssistance" value="1" checked> }
                    else
                    { <input asp-for="publicAssistance" type="radio" name="publicAssistance" value="1"> } }
                Yes <br />
                @{if (info.publicAssistance == 0)
                    { <input asp-for="publicAssistance" type="radio" name="publicAssistance" value="0" checked> }
                    else
                    { <input asp-for="publicAssistance" type="radio" name="publicAssistance" value="0"> } }
                No

            </li>



            <li>
                Asthma<br />
                @{if (info.asthma == 1)
                    { <input asp-for="asthma" type="radio" name="asthma" value="1" checked> }
                    else
                    { <input asp-for="asthma" type="radio" name="asthma" value="1"> } }
                Yes <br />
                @{if (info.asthma == 0)
                    { <input asp-for="asthma" type="radio" name="asthma" value="0" checked> }
                    else
                    { <input asp-for="asthma" type="radio" name="asthma" value="0"> } }
                No

            </li>
        </ul>


    </div>

    <div id="page2" hidden>
        <h3> School Information </h3>

        <ul>
            <li>
                School at time of Referral
                <br />
                <input asp-for="schoolRef" type="text" class="field-style field-full align-none" value="@info.schoolRef" />
                <br />
            </li>

            <li>
                Current Reading Level
                <br />
                <select asp-for="readingLevel" id="readingLevel" class="field-style field-full align-none">
                    @{if (info.readingLevel == "13")
                        {
                            <option value="13" label="Other" selected></option>
                        }
                        else
                        {
                            <option value="13" label="Other"></option>
                        }}
                    @{if (info.readingLevel == "0")
                        {
                            <option value="0" label="K" selected>Kindergarten</option>
                        }
                        else
                        {
                            <option value="0" label="K">Kindergarten</option>
                        }}
                    @{if (info.readingLevel == "1")
                        {
                            <option value="1" label="1" selected>1st Grade</option>
                        }
                        else
                        {
                            <option value="1" label="1">1st Grade</option>
                        }}
                    @{if (info.readingLevel == "2")
                        {
                            <option value="2" label="2" selected>2nd Grade</option>
                        }
                        else
                        {
                            <option value="2" label="2">2nd Grade</option>
                        }}
                    @{if (info.readingLevel == "2")
                        {
                            <option value="2" label="2" selected>2nd Grade</option>
                        }
                        else
                        {
                            <option value="2" label="2">2nd Grade</option>
                        }}
                    @{if (info.readingLevel == "3")
                        {
                            <option value="3" label="3" selected>3rd Grade</option>
                        }
                        else
                        {
                            <option value="3" label="3">3rd Grade</option>
                        }}
                    @{if (info.readingLevel == "4")
                        {
                            <option value="4" label="4" selected>4th Grade</option>
                        }
                        else
                        {
                            <option value="4" label="4">4th Grade</option>
                        }}
                    @{if (info.readingLevel == "5")
                        {
                            <option value="5" label="5" selected>5th Grade</option>
                        }
                        else
                        {
                            <option value="5" label="5">5th Grade</option>
                        }}
                    @{if (info.readingLevel == "6")
                        {
                            <option value="6" label="6" selected>6th Grade</option>
                        }
                        else
                        {
                            <option value="6" label="6">6th Grade</option>
                        }}
                    @{if (info.readingLevel == "7")
                        {
                            <option value="7" label="7" selected>7th Grade</option>
                        }
                        else
                        {
                            <option value="7" label="7">7th Grade</option>
                        }}
                    @{if (info.readingLevel == "8")
                        {
                            <option value="8" label="8" selected>8th Grade</option>
                        }
                        else
                        {
                            <option value="8" label="8">8th Grade</option>
                        }}
                    @{if (info.readingLevel == "9")
                        {
                            <option value="9" label="9" selected>9th Grade</option>
                        }
                        else
                        {
                            <option value="9" label="9">9th Grade</option>
                        }}
                    @{if (info.readingLevel == "10")
                        {
                            <option value="10" label="10" selected>10th Grade</option>
                        }
                        else
                        {
                            <option value="10" label="10">10th Grade</option>
                        }}
                    @{if (info.readingLevel == "11")
                        {
                            <option value="11" label="11" selected>11th Grade</option>
                        }
                        else
                        {
                            <option value="11" label="11">11th Grade</option>
                        }}
                    @{if (info.readingLevel == "12")
                        {
                            <option value="12" label="12" selected>12th Grade</option>
                        }
                        else
                        {
                            <option value="12" label="12">12th Grade</option>
                        }}

                </select>
            </li>

            <li>

                Current Math Level
                <br />
                <select asp-for="mathLevel" id="mathLevel" class="field-style field-full align-none">
                    @{if (info.mathLevel == "13")
                        {
                            <option value="13" label="Other" selected></option>
                        }
                        else
                        {
                            <option value="13" label="Other"></option>
                        }}
                    @{if (info.mathLevel == "0")
                        {
                            <option value="0" label="K" selected>Kindergarten</option>
                        }
                        else
                        {
                            <option value="0" label="K">Kindergarten</option>
                        }}
                    @{if (info.mathLevel == "1")
                        {
                            <option value="1" label="1" selected>1st Grade</option>
                        }
                        else
                        {
                            <option value="1" label="1">1st Grade</option>
                        }}

                    @{if (info.mathLevel == "2")
                        {
                            <option value="2" label="2" selected>2nd Grade</option>
                        }
                        else
                        {
                            <option value="2" label="2">2nd Grade</option>
                        }}
                    @{if (info.mathLevel == "3")
                        {
                            <option value="3" label="3" selected>3rd Grade</option>
                        }
                        else
                        {
                            <option value="3" label="3">3rd Grade</option>
                        }}
                    @{if (info.mathLevel == "4")
                        {
                            <option value="4" label="4" selected>4th Grade</option>
                        }
                        else
                        {
                            <option value="4" label="4">4th Grade</option>
                        }}
                    @{if (info.mathLevel == "5")
                        {
                            <option value="5" label="5" selected>5th Grade</option>
                        }
                        else
                        {
                            <option value="5" label="5">5th Grade</option>
                        }}
                    @{if (info.mathLevel == "6")
                        {
                            <option value="6" label="6" selected>6th Grade</option>
                        }
                        else
                        {
                            <option value="6" label="6">6th Grade</option>
                        }}
                    @{if (info.mathLevel == "7")
                        {
                            <option value="7" label="7" selected>7th Grade</option>
                        }
                        else
                        {
                            <option value="7" label="7">7th Grade</option>
                        }}
                    @{if (info.mathLevel == "8")
                        {
                            <option value="8" label="8" selected>8th Grade</option>
                        }
                        else
                        {
                            <option value="8" label="8">8th Grade</option>
                        }}
                    @{if (info.mathLevel == "9")
                        {
                            <option value="9" label="9" selected>9th Grade</option>
                        }
                        else
                        {
                            <option value="9" label="9">9th Grade</option>
                        }}
                    @{if (info.mathLevel == "10")
                        {
                            <option value="10" label="10" selected>10th Grade</option>
                        }
                        else
                        {
                            <option value="10" label="10">10th Grade</option>
                        }}
                    @{if (info.mathLevel == "11")
                        {
                            <option value="11" label="11" selected>11th Grade</option>
                        }
                        else
                        {
                            <option value="11" label="11">11th Grade</option>
                        }}
                    @{if (info.mathLevel == "12")
                        {
                            <option value="12" label="12" selected>12th Grade</option>
                        }
                        else
                        {
                            <option value="12" label="12">12th Grade</option>
                        }}

                </select>
                <br />
                <br />
            </li>

            <li>
                <label>Does the youth have an IEP/504 Plan? </label><br />
                @{if (info.iep == 1)
                    { <input asp-for="iep" type="radio" id="yesIEP" value="1" checked> }
                    else
                    { <input asp-for="iep" type="radio" id="yesIEP" value="1"> } }
                Yes <br />
                @{if (info.iep == 0)
                    { <input asp-for="iep" type="radio" id="noIEP" value="0" checked> }
                    else
                    { <input asp-for="iep" type="radio" id="noIEP" value="0"> } }
                No


                <br />
                <div id="ifYesIEP">
                    <br /> Primary IEP/504 Plan<br />
                    @{ if (info.iepplan1 == "emo")
                        {
                            <input asp-for="iepplan1" type="radio" id="emo" name="iepplan1" value="emo" checked>}
                        else
                        {<input asp-for="iepplan1" type="radio" id="emo" name="iepplan1" value="emo"> } }
                    Emotional/Behavioral Disability<br />
                    @{ if (info.iepplan1 == "gifted")
                        {
                            <input asp-for="iepplan1" type="radio" id="gifted" name="iepplan1" value="gifted" checked>}
                        else
                        {<input asp-for="iepplan1" type="radio" id="gifted" name="iepplan1" value="gifted"> } }
                    Gifted<br />
                    @{ if (info.iepplan1 == "intellectual")
                        {
                            <input asp-for="iepplan1" type="radio" id="intellectual" name="iepplan1" value="intell" checked>}
                        else
                        {<input asp-for="iepplan1" type="radio" id="intellectual" name="iepplan1" value="intell"> } }
                    Intellectual Disability<br />
                    @{ if (info.iepplan1 == "language")
                        {
                            <input asp-for="iepplan1" type="radio" id="language" name="iepplan1" value="lang" checked>}
                        else
                        {<input asp-for="iepplan1" type="radio" id="language" name="iepplan1" value="lang"> } }
                    Language Impairment<br />
                    @{ if (info.iepplan1 == "otherHealth")
                        {
                            <input asp-for="iepplan1" type="radio" id="otherHealth" name="iepplan1" value="otherHealth" checked>}
                        else
                        {<input asp-for="iepplan1" type="radio" id="otherHealth" name="iepplan1" value="otherHealth"> } }
                    Other Health Impairment<br />
                    @{ if (info.iepplan1 == "specificLearning")
                        {
                            <input asp-for="iepplan1" type="radio" id="specificLearning" name="iepplan1" value="specificLearning" checked>}
                        else
                        {<input asp-for="iepplan1" type="radio" id="specificLearning" name="iepplan1" value="specificLearning"> } }

                    Specific Learning Disability<br />
                    @{ if (info.iepplan1 == "speech")
                        {
                            <input asp-for="iepplan1" type="radio" id="speech" name="iepplan1" value="speech" checked>}
                        else
                        {<input asp-for="iepplan1" type="radio" id="speech" name="iepplan1" value="speech"> } }
                    Speech Impairment<br />
                    @{ if (info.iepplan1 == "other")
                        {
                            <input asp-for="iepplan1" type="radio" id="other" name="iepplan1" value="other" checked>}
                        else
                        {<input asp-for="iepplan1" type="radio" id="other" name="iepplan1" value="other"> } }
                    Other <br />

                    <br />

                    Secondary IEP/504 Plan<br />

                    @{ if (info.iepplan2 == "none")
                        {
                            <input asp-for="iepplan2" type="radio" id="none" name="iepplan2" value="none" checked>}
                        else
                        {<input asp-for="iepplan2" type="radio" id="none" name="iepplan2" value="none"> } }
                    None<br />

                    @{ if (info.iepplan2 == "emo")
                        {
                            <input asp-for="iepplan2" type="radio" id="emo" name="iepplan2" value="emo" checked>}
                        else
                        {<input asp-for="iepplan2" type="radio" id="emo" name="iepplan2" value="emo"> } }
                    Emotional/Behavioral Disability<br />
                    @{ if (info.iepplan2 == "gifted")
                        {
                            <input asp-for="iepplan2" type="radio" id="gifted" name="iepplan2" value="gifted" checked>}
                        else
                        {<input asp-for="iepplan2" type="radio" id="gifted" name="iepplan2" value="gifted"> } }
                    Gifted<br />
                    @{ if (info.iepplan2 == "intellectual")
                        {
                            <input asp-for="iepplan2" type="radio" id="intellectual" name="iepplan2" value="intell" checked>}
                        else
                        {<input asp-for="iepplan2" type="radio" id="intellectual" name="iepplan2" value="intell"> } }
                    Intellectual Disability<br />
                    @{ if (info.iepplan2 == "language")
                        {
                            <input asp-for="iepplan2" type="radio" id="language" name="iepplan2" value="lang" checked>}
                        else
                        {<input asp-for="iepplan2" type="radio" id="language" name="iepplan2" value="lang"> } }
                    Language Impairment<br />
                    @{ if (info.iepplan2 == "otherHealth")
                        {
                            <input asp-for="iepplan2" type="radio" id="otherHealth" name="iepplan2" value="otherHealth" checked>}
                        else
                        {<input asp-for="iepplan2" type="radio" id="otherHealth" name="iepplan2" value="otherHealth"> } }
                    Other Health Impairment<br />
                    @{ if (info.iepplan2 == "specificLearning")
                        {
                            <input asp-for="iepplan2" type="radio" id="specificLearning" name="iepplan2" value="specificLearning" checked>}
                        else
                        {<input asp-for="iepplan2" type="radio" id="specificLearning" name="iepplan2" value="specificLearning"> } }

                    Specific Learning Disability<br />
                    @{ if (info.iepplan2 == "speech")
                        {
                            <input asp-for="iepplan2" type="radio" id="speech" name="iepplan2" value="speech" checked>}
                        else
                        {<input asp-for="iepplan2" type="radio" id="speech" name="iepplan2" value="speech"> } }
                    Speech Impairment<br />
                    @{ if (info.iepplan2 == "other")
                        {
                            <input asp-for="iepplan2" type="radio" id="other" name="iepplan2" value="other" checked>}
                        else
                        {<input asp-for="iepplan2" type="radio" id="other" name="iepplan2" value="other"> } }
                    Other <br />
                    <br />
                    <br />
                </div>

                <div id="ifNoIEP">

                </div>

            </li>

            <li>
                In Pride
                <br />
                @{if (info.inPride == 1)
                    { <input asp-for="inPride" type="radio" name="inPride" id="inPride" value="1" checked> }
                    else
                    { <input asp-for="inPride" type="radio" name="inPride" id="inPride" value="1"> } }
                Yes <br />
                @{if (info.inPride == 0)
                    { <input asp-for="inPride" type="radio" name="inPride" id="notInPride" value="0" checked> }
                    else
                    { <input asp-for="inPride" type="radio" name="inPride" id="notInPride" value="0"> } }
                No <br />


            </li>

            <li>
                New FBA
                <br />
                @{if (info.newFBA == 1)
                    { <input asp-for="newFBA" type="radio" id="newFBA" name="newFBA" value="1" checked> }
                    else
                    { <input asp-for="newFBA" type="radio" id="newFBA" name="newFBA" value="1"> } }
                Yes <br />
                @{if (info.newFBA == 0)
                    { <input asp-for="newFBA" type="radio" id="noNewFBA" name="newFBA" value="0" checked> }
                    else
                    { <input asp-for="newFBA" type="radio" id="noNewFBA" name="newFBA" value="0"> } }
                No <br />


            </li>

            <li>
                Addititonal Accomodations Gained
                <br />
                @{if (info.accomGained == 1)
                    { <input asp-for="accomGained" type="radio" name="accomGained" value="1" checked> }
                    else
                    { <input asp-for="accomGained" type="radio" name="accomGained" value="1"> } }
                Yes
                <br />
                @{if (info.accomGained == 0)
                    { <input asp-for="accomGained " type="radio" name="accomGained" value="0" checked> }
                    else
                    { <input asp-for="accomGained " type="radio" name="accomGained" value="0"> } }
                No
                <br />
                @{ if (info.accomGained == 2)
                    {<input asp-for="accomGained" type="radio" name="accomGained" value="2" checked /> }
                    else
                    { <input asp-for="accomGained" type="radio" name="accomGained" value="2" />}}
                Other
                </b>


            </li>

            <li>
                <label>Additional Compensatory Services</label>
                <br />
                @{if (info.compService == 1)
                    { <input asp-for="compService" type="radio" id="yesComp" name="compService" value="1" checked> }
                    else
                    { <input asp-for="compService" type="radio" id="yesComp" name="compService" value="1"> } }
                Yes <br />
                @{if (info.compService == 0)
                    { <input asp-for="compService" type="radio" id="noComp" name="compService" value="0" checked> }
                    else
                    { <input asp-for="compService" type="radio" id="noComp" name="compService" value="0"> } }
                No <br />


                <div id="ifYesComp">
                    If yes, what services?
                    <input asp-for="ifWhatServices" type="text" value="@info.ifWhatServices" class="field-style field-full align-none" />
                    <br />
                    <br />
                    How much time have they spent using these compensatory services?
                    <input asp-for="compTime" type="text" value="@info.compTime" class="field-style field-full align-none" />

                </div>

                <div id="ifNoComp">

                </div>
            </li>

            <li>
                <label>Bullied</label><br />

                @{if (info.bullied == 1)
                    { <input asp-for="bullied" type="radio" id="yesBullied" name="bullied" value="1" checked> }
                    else
                    { <input asp-for="bullied" type="radio" id="yesBullied" name="bullied" value="1"> } }
                Yes <br />
                @{if (info.bullied == 0)
                    { <input asp-for="bullied" type="radio" id="noBullied" name="bullied" value="0" checked> }
                    else
                    { <input asp-for="bullied" type="radio" id="noBullied" name="bullied" value="0"> } }
                No <br />

                <br />
                <br />

                <div id="ifYesBullied">
                    If yes, was it reported? <br />
                    @{if (info.bullyReport == 1)
                        { <input asp-for="bullyReport" type="radio" id="yesRep" name="bullyReport" value="1" checked> }
                        else
                        { <input asp-for="bullyReport" type="radio" id="yesRep" name="bullyReport" value="1"> } }
                    Yes <br />
                    @{if (info.bullyReport == 0)
                        { <input asp-for="bullyReport" type="radio" id="noRep" name="bullyReport" value="0" checked> }
                        else
                        { <input asp-for="bullyReport" type="radio" id="noRep" name="bullyReport" value="0"> } }
                    No <br />

                    <br />
                    Need to fix the report date automatically showing
                </div>
                <div id="ifNoReport">
                    Date of report <br />
                    <input asp-for="dateofBully" type="date" id="dateofBully" class="field-style field-full align-none" min="2001-01-01" max="2050-12-31"> <br />
                    <br />
                    <br />
                </div>

                <div id="ifNoBullied">

                </div>
            </li>
        </ul>
    </div>

    <div id="page3">
        <h3> Discipline </h3>
        <ul>
            <li>

                <label>Suspended more than three times in a year? </label> <br />Yes
                @{if (info.suspended == 1)
                    { <input asp-for="suspended" type="radio" id="yesSus" name="suspended" value="1" checked> }
                    else
                    { <input asp-for="suspended" type="radio" id="yesSus" name="suspended" value="1"> } }
                &nbsp;
                No
                @{if (info.suspended == 0)
                    { <input asp-for="suspended" type="radio" id="noSus" name="suspended" value="0" checked> }
                    else
                    { <input asp-for="suspended" type="radio" id="noSus" name="suspended" value="0"> } }
                &nbsp;<br />



                <div id="ifYesSus" class="field-style field-full align-none">
                    If yes, how many times have they been suspended?<br />
                    <select asp-for="suspendCount">
                        @{if (info.suspendCount == 4)
                            {
                                <option value="4" selected>4</option>
                            }
                            else
                            {
                                <option value="4">4</option>
                            }}
                        @{if (info.suspendCount == 5)
                            {
                                <option value="5" selected>5</option>
                            }
                            else
                            {
                                <option value="5">5</option>
                            }}
                        @{if (info.suspendCount == 6)
                            {
                                <option value="6" selected>6</option>
                            }
                            else
                            {
                                <option value="6">6</option>
                            }}
                        @{if (info.suspendCount == 7)
                            {
                                <option value="7" selected>7</option>
                            }
                            else
                            {
                                <option value="7">7</option>
                            }}
                        @{if (info.suspendCount == 8)
                            {
                                <option value="8" selected>8</option>
                            }
                            else
                            {
                                <option value="8">8</option>
                            }}
                        @{if (info.suspendCount == 9)
                            {
                                <option value="9" selected>9</option>
                            }
                            else
                            {
                                <option value="9">9</option>
                            }}
                        @{if (info.suspendCount == 10)
                            {
                                <option value="10" selected>10+</option>
                            }
                            else
                            {
                                <option value="10">10+</option>
                            }}
                    </select>


                    <br />

                </div>

                <div id="ifNoSus">
                </div>

            </li>

            <li>
                How many days have they spent in ISS?<br />
                <input asp-for="iss" value="@info.iss" type="number" /><br /><br />

                How many days have they spent in OSS?<br />
                <input asp-for="oss" type="number" value="@info.oss" />

                <br />
                <br />
            </li>

            <li>
                <label>Alternative School</label><br />
                Yes
                @{if (info.altSchool == 1)
                    { <input asp-for="altSchool" type="radio" id="yesAlt" name="altSchool" value="1" checked> }
                    else
                    { <input asp-for="altSchool" type="radio" id="yesAlt" name="altSchool" value="1"> } }
                &nbsp;
                No
                @{if (info.altSchool == 0)
                    { <input asp-for="altSchool" type="radio" id="noAlt" name="altSchool" value="0" checked> }
                    else
                    { <input asp-for="altSchool" type="radio" id="noAlt" name="altSchool" value="0"> } }
                &nbsp;<br />

                <br />

                <div id="ifYesAlt">
                    If yes, which school?<br />
                    @{if (info.altSchoolName.Contains("yes"))
                        { <input asp-for="altSchoolName" type="radio" name="altSchoolName" id="Mattie" value="yes" checked> }
                        else
                        { <input asp-for="altSchoolName" type="radio" name="altSchoolName" id="Mattie" value="yes"> } }
                    Mattie V  <br />
                    @{if (info.altSchoolName.Contains("no"))
                        { <input asp-for="altSchoolName" type="radio" name="altSchoolName" id="Grand" value="no" checked> }
                        else
                        { <input asp-for="altSchoolName" type="radio" name="altSchoolName" id="Grand" value="no"> } }
                    Grand Park <br />
                    <br />
                    <br />

                    How many times was the youth in an alternative school?<br />
                    <select asp-for="timesInAlt" class="field-style field-full align-none">
                        @{if (info.suspendCount == 0)
                            {
                                <option value="0" id="1">0</option>
                            }
                            else
                            {
                                <option value="0" id="1">0</option>
                            }}
                        @{if (info.suspendCount == 1)
                            {
                                <option value="1" id="1">1</option>
                            }
                            else
                            {
                                <option value="1" id="1">1</option>
                            }}
                        @{if (info.suspendCount == 2)
                            {
                                <option value="2" id="2">2</option>
                            }
                            else
                            {
                                <option value="2" id="2">2</option>
                            }}
                        @{if (info.suspendCount == 3)
                            {
                                <option value="3" id="3">3+</option>
                            }
                            else
                            {
                                <option value="3" id="3">3+</option>
                            } }
                    </select>
                    What day did the student enter the alternative school</br>
                    <input asp-for="dateOfAlt" type="datetime-local" class="field-style field-full align-none" id="dateOfAlt"
                           min="2000-06-07T00:00" max="2060-06-14T00:00">
                    <br />
                    <br />
                </div>

                How many days owed?<br />
                <input asp-for="daysOwed" type="number" value="@info.daysOwed" class="field-style field-full align-none"> <br />
                <br />


                <div id="ifNoAlt">

                </div>

            </li>

            <li>
                Total Days since Intake <br />
                <input asp-for="daysSinceIntake" type="text" id="dateintake" value="@info.daysSinceIntake" class="field-style field-full align-none">
            </li>

            <li>
                Juvenile Justice Outcome <br />
                <input asp-for="justiceOutcome" type="text" value="@info.justiceOutcome" class="field-style field-full align-none"> <br />
            </li>

            <li>
                Other legal issues?<br />
                <select asp-for="firstLegal" class="field-style field-full align-none">
                    @{if (info.firstLegal == "education")
                        {
                            <option value="education" id="edu" selected>Education</option>
                        }
                        else
                        {
                            <option value="education" id="edu"> Education </option>
                        } }
                    @{if (info.firstLegal == "juvenilejustice")
                        {
                            <option value="juvenilejustice" id="juv" selected>Juvenile Justice</option>
                        }
                        else
                        {
                            <option value="juvenilejustice" id="juv">Juvenile Justice</option>
                        } }
                    @{if (info.firstLegal == "dependency")
                        {
                            <option value="dependency" id="dependency" selected>Dependency</option>
                        }
                        else
                        {
                            <option value="dependency" id="dependency">Dependency</option>
                        } }
                    @{if (info.firstLegal == "bakeract")
                        {
                            <option value="bakeract" id="edu" selected>Baker Act</option>
                        }
                        else
                        {
                            <option value="bakeract" id="edu">Baker Act</option>
                        } }
                    @{if (info.firstLegal == "familylaw")
                        {
                            <option value="familylaw" id="famlaw" selected>Family Law</option>
                        }
                        else
                        {
                            <option value="familylaw" id="famlaw">Family Law</option>
                        } }
                    @{if (info.firstLegal == "immigration")
                        {
                            <option value="immigration" id="immig" selected>Immigration</option>
                        }
                        else
                        {
                            <option value="immigration" id="immig">Immigration</option>
                        } }
                    @{if (info.firstLegal == "publicbenefits")
                        {
                            <option value="publicbenefits" id="publicben" selected>Public Benefits</option>
                        }
                        else
                        {
                            <option value="publicbenefits" id="publicben">Public Benefits</option>
                        } }
                    @{if (info.firstLegal == "housing")
                        {
                            <option value="housing" id="housing" selected>Housing</option>
                        }
                        else
                        {
                            <option value="housing" id="housing">Housing</option>
                        } }
                    @{if (info.firstLegal == "other")
                        {
                            <option value="other" id="other" selected>Other</option>
                        }
                        else
                        {
                            <option value="other" id="other">Other</option>
                        } }


                </select><br /><br />State Legal Issue if not Listed above <br />
                <input asp-for="secondLegal" type="text" value="@info.secondLegal" class="field-style field-full align-none" />

            </li>
        </ul>
    </div>


    <div id="page4">
        <h2> Center for Children's Rights information</h2>
        <br />
        <ul>
            <li>

                Referral Date and Time <br />
                <input asp-for="referralDate" type="datetime-local" class="field-style field-full align-none" id="refdate"
                       value="@info.referralDate"
                       min="2000-06-07T00:00" max="2060-06-14T00:00">
                <br />
            </li>

            <li>
                School at time of Case Closure <br />
                <input asp-for="schoolAtClosure" type="text" value="@info.schoolAtClosure" class="field-style field-full align-none" id="school" /> <br />
            </li>

            <li>
                Email of First Referral Source<br />
                <input asp-for="emailOfFirstReferralSource" type="text" value="@info.emailOfFirstReferralSource" class="field-style field-full align-none" id="referralemail" /> <br />
            </li>

            <li>
                Level of Service Provided <br />
                @{if (!info.levelOfServiceProvided.Contains("info") || !info.levelOfServiceProvided.Contains("service") || !info.levelOfServiceProvided.Contains("full"))
                    { <input asp-for="levelOfServiceProvided" type="radio" name="levelOfServiceProvided" id="none" value="n" checked /> }
                    else
                    { <input asp-for="levelOfServiceProvided" type="radio" name="levelOfServiceProvided" id="none" value="n" />} }
                None<br />
                @{if (info.levelOfServiceProvided.Contains("info"))
                    { <input asp-for="levelOfServiceProvided" type="radio" name="levelOfServiceProvided" id="infoEdu" value="info" checked />}
                    else
                    {<input asp-for="levelOfServiceProvided" type="radio" name="levelOfServiceProvided" id="infoEdu" value="info" /> }}
                Information/Education<br />
                @{if (info.levelOfServiceProvided.Contains("service"))
                    {<input asp-for="levelOfServiceProvided" type="radio" name="levelOfServiceProvided" id="serviceAdvice" value="service" checked> }
                    else
                    {<input asp-for="levelOfServiceProvided" type="radio" name="levelOfServiceProvided" id="serviceAdvice" value="service"> }} Brief Service/Advice<br />
                @{if (info.levelOfServiceProvided.Contains("full"))
                    { <input asp-for="levelOfServiceProvided" type="radio" name="levelOfServiceProvided" id="full" value="full" checked /> }
                    else
                    { <input asp-for="levelOfServiceProvided" type="radio" name="levelOfServiceProvided" id="full" value="full" /> } }
                Full<br />

            </li>

            <li>
                Reason for Nonengagement <br />
                @{if (info.nonEngagementReason == "n")
                    { <input asp-for="nonEngagementReason" type="radio" name="nonEngagementReason" id="contact" value="n" checked>}
                    else
                    {<input asp-for="nonEngagementReason" type="radio" name="nonEngagementReason" id="contact" value="n"> }
                }Unable to Contact<br />
                @{if (info.nonEngagementReason == "info")
                    {<input asp-for="nonEngagementReason" type="radio" name="nonEngagementReason" id="intake" value="info" checked> }
                    else
                    {<input asp-for="nonEngagementReason" type="radio" name="nonEngagementReason" id="intake" value="info"> }
                }
                Unable to Complete Intake<br />
                @{if (info.nonEngagementReason == "service")
                    {<input asp-for="nonEngagementReason" type="radio" name="nonEngagementReason" id="declined" value="service" checked>}
                    else
                    {<input asp-for="nonEngagementReason" type="radio" name="nonEngagementReason" id="declined" value="service">}
                } Family Declined Services<br />

            </li>

            <li>
                Case Status <br />
                @{if (info.caseStatus == 1)
                    { <input asp-for="caseStatus" type="radio" id="openclose" name="caseStatus" value="1" checked> }
                    else
                    {<input asp-for="caseStatus" type="radio" id="openclose" name="caseStatus" value="1"> }}
                Open<br />
                @{if (info.caseStatus == 0)
                    { <input asp-for="caseStatus" type="radio" id="close" name="caseStatus" value="0" checked> }
                    else
                    {<input asp-for="caseStatus" type="radio" id="close" name="caseStatus" value="0" /> }}
                Closed<br />
                @{if (info.caseStatus == 2)
                    {<input asp-for="caseStatus" type="radio" id="nonEngageClose" name="caseStatus" value="2" checked> }
                    else
                    {<input asp-for="caseStatus" type="radio" id="nonEngageClose" name="caseStatus" value="2"> }}
                Closed due to nonengagement<br />
            </li>

            <li>
                Legal Advocacy <br />
                @{if (info.legalAdvocacy == 1)
                    { <input asp-for="legalAdvocacy" type="radio" id="yes" name="legalAdvocacy" value="1" checked> }
                    else
                    { <input asp-for="legalAdvocacy" type="radio" id="yes" name="legalAdvocacy" value="1"> } }
                Yes <br />
                @{if (info.legalAdvocacy == 0)
                    { <input asp-for="legalAdvocacy" type="radio" id="no" name="legalAdvocacy" value="0" checked> }
                    else
                    { <input asp-for="legalAdvocacy" type="radio" id="no" name="legalAdvocacy" value="0"> } }
                No <br />

            </li>
            <li>
                Legal Advocacy Taken
                <br /><input asp-for="legalAdvoTaken" type="text" value="@info.legalAdvoTaken" class="field-style field-split align-left" />
            </li>

            <li>
                <br /> Remedy Resolution <br />
                @{if (info.remedyResolution == 1)
                    { <input asp-for="remedyResolution" type="radio" id="yes" name="remedyResolution" value="1" checked> }
                    else
                    { <input asp-for="remedyResolution" type="radio" id="yes" name="remedyResolution" value="1"> } }
                Yes <br />
                @{if (info.remedyResolution == 0)
                    { <input asp-for="remedyResolution" type="radio" id="no" name="remedyResolution" value="0" checked> }
                    else
                    { <input asp-for="remedyResolution" type="radio" id="no" name="remedyResolution" value="0"> } }
                No <br />


            </li>

            <li>
                Re-arrest while Being Represented <br />

                @{if (info.rearrestWhileRepresented == 1)
                    { <input asp-for="rearrestWhileRepresented" type="radio" id="yes" name="rearrestWhileRepresented" value="1" checked> }
                    else
                    { <input asp-for="rearrestWhileRepresented" type="radio" id="yes" name="rearrestWhileRepresented" value="1"> } }
                Yes <br />
                @{if (info.rearrestWhileRepresented == 0)
                    { <input asp-for="rearrestWhileRepresented" type="radio" id="no" name="rearrestWhileRepresented" value="0" checked> }
                    else
                    { <input asp-for="rearrestWhileRepresented" type="radio" id="no" name="rearrestWhileRepresented" value="0"> } }
                No <br />

            </li>

            <li>
                Advocacy at Court? <br />
                @{if (info.courtAdvocacy == 1)
                    { <input asp-for="courtAdvocacy" type="radio" id="yes" name="courtAdvocacy" value="1" checked> }
                    else
                    { <input asp-for="courtAdvocacy" type="radio" id="yes" name="courtAdvocacy" value="1"> } }
                Yes <br />
                @{if (info.courtAdvocacy == 0)
                    { <input asp-for="courtAdvocacy" type="radio" id="no" name="courtAdvocacy" value="0" checked> }
                    else
                    { <input asp-for="courtAdvocacy" type="radio" id="no" name="courtAdvocacy" value="0"> } }
                No <br />
            </li>

            <li>
                Advocacy at Staffing?<br />
                @{if (info.staffAdvocacy == 1)
                    { <input asp-for="staffAdvocacy" type="radio" id="yes" name="staffAdvocacy" value="1" checked> }
                    else
                    { <input asp-for="staffAdvocacy" type="radio" id="yes" name="staffAdvocacy" value="1"> }
                }Yes<br />
                @{if (info.staffAdvocacy == 0)
                    { <input asp-for="staffAdvocacy" type="radio" id="no" name="staffAdvocacy" value="0" checked> }
                    else
                    { <input asp-for="staffAdvocacy" type="radio" id="no" name="staffAdvocacy" value="0"> }
                } No<br />
            </li>

            <li>
                Rearrest advocacy?<br />
                @{if (info.rearrestAdvocacy == 1)
                    { <input asp-for="rearrestAdvocacy" type="radio" id="yes" name="rearrestAdvocacy" value="1" checked> }
                    else
                    { <input asp-for="rearrestAdvocacy" type="radio" id="yes" name="rearrestAdvocacy" value="1"> }
                }Yes<br />
                @{if (info.rearrestAdvocacy == 0)
                    { <input asp-for="rearrestAdvocacy" type="radio" id="no" name="rearrestAdvocacy" value="0" checked> }
                    else
                    { <input asp-for="rearrestAdvocacy" type="radio" id="no" name="rearrestAdvocacy" value="0"> }
                }
                No<br />
            </li>

        </ul>



        <button type="submit" class="btn btn-primary">Submit</button>
        <br />
        <br />
    </div>

</form>



<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li id="butt1" class="page-item">
                <a onclick="pagination(this.id)" id="1" class="page-link">Demographics (1)<span class="sr-only"></span></a>
            </li>

            <li id="butt2" class="page-item"><a onclick="pagination(this.id)" id="2" class="page-link">School (2)</a></li>
            <li id="butt3" class="page-item"><a class="page-link" onclick="pagination(this.id)" id="3">Discipline (3)</a></li>
            <li id="butt4" class="page-item"><a class="page-link" onclick="pagination(this.id)" id="4">CCR (4)</a></li>
        </ul>
    </nav>
</div>

