@model List<HopePipeline.Models.DbEntities.Referrals.RefRow>;

@{
    ViewData["Title"] = "Referral List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
    <head>
        <style>
            .button1 {
                padding: 3px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 14px;
                margin: 4px 2px;
                cursor: pointer;
            }

            .button3 {
                background-color: #DDDDDD; /* Gray */
                border: 3px solid #003A62;
                color: #003A62;
            }

                .button3:hover {
                    background-color: #003A62;
                    color: #DDDDDD;
                }

            .button4 {
                background-color: #005199; /* Gray */
                border: 3px solid #003A62;
                color: #DDDDDD;
            }

                .button4:hover {
                    background-color: #005199;
                    color: #DDDDDD;
                    border: 3px solid #003A62;
                }

            .button5 {
                background-color: #cc0000; /* Gray */
                border: 3px solid #cc0000;
                color: white;
            }

                .button5:hover {
                    background-color: white;
                    color: #cc0000;
                    border: 3px solid #cc0000;
                }

            .button2 {
                border-radius: 4px;
            }

            .button1 span {
                cursor: pointer;
                display: inline-block;
                position: relative;
                transition: 0.5s;
            }

                .button1 span:after {
                    content: '\00bb';
                    position: absolute;
                    opacity: 0;
                    top: 0;
                    right: -20px;
                    transition: 0.5s;
                }

            .button1:hover span {
                padding-right: 25px;
            }

                .button1:hover span:after {
                    opacity: 1;
                    right: 0;
                }
                table {
             font-family: arial, sans-serif;
                border-collapse: collapse;
                 width: 100%;
                table-layout: fixed;
                }




        </style>
    </head>
<h2>Referrals</h2>
<h3>Showing @Model.Count referrals</h3>
<style>
     table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            table-layout: fixed;
        }
</style>
<table id="reflist" class="table">
    <thead>
        <tr>
            <th width="15%">
                Name
            </th>
            <th width="15%">
                Date of Birth
            </th>
            <th width="55%">
                More Options
            </th>
           
           
            <th width="10%"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <div style="vertical-align:middle">    @Html.DisplayFor(modelItem => item.lname) , @Html.DisplayFor(modelItem => item.fname)</div>
            </td>
            <td>
                <div style="vertical-align:middle">  @Html.DisplayFor(modelItem => item.dob)</div>
            </td>
            <td>


                @*<a asp-controller="n" asp-action="detailReferralM" asp-route-clientCode="@item.clientCode">Details</a>*@
                <button class="button4 button2 button1" style="vertical-align:middle" onclick="window.location.href = '@Url.Action("detailReferralM", "n",new { Area = "", clientCode =@item.clientCode})'"><span>Details</span></button>

                @*<a asp-controller="n" asp-action="editReferralM" asp-route-clientCode="@item.clientCode">Edit</a>*@
                <button class="button4 button2 button1" style="vertical-align:middle" onclick="window.location.href = '@Url.Action("editReferralM", "n",new { Area = "", clientCode =@item.clientCode})'"><span>Edit</span></button>


                @*<a asp-controller="n" asp-action="contactInfoM" asp-route-clientCode="@item.clientCode">Contact</a>*@

                <button class="button4 button2 button1" style="vertical-align:middle" onclick="window.location.href = '@Url.Action("contactInfoM", "n",new { Area = "", clientCode =@item.clientCode})'"><span>Contact</span></button>

                <button class="button4 button2 button1" style="vertical-align:middle" onclick="window.location.href = '@Url.Action("ViewAssignedTracking", "Tracking",new { Area = "", clientCode =@item.clientCode})'"><span>View Assigned Tracking Info</span></button>



            </td>
            <td style="text-align:right">
                @*<a asp-controller="Referral" asp-action="Delete" asp-route-pk="@item.clientCode">Delete</a>*@
                <button class="button1 button2 button5" style="vertical-align:middle" onclick="window.location.href = '@Url.Action("Delete", "Referral",new { Area = "", clientCode =@item.clientCode})'"><span>Delete</span></button>




            </td>
        </tr>
;
        }
    </tbody>
</table>

<a asp-controller="Referral" asp-action="SeeAssigned">See assigned referral forms</a>