@model HopePipeline.Models.DbEntities.Tracking.TrackRefList;
@{
    ViewData["Title"] = "RefTrackList";
}
<style>
    table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            table-layout: fixed;
        }
</style>

<h1>Referral forms assigned to @Model.studentName</h1>
@if (Model.list.Count == 0)
{
    <p>Sorry, there are no referral forms assigned to this client!</p>
}
else
{
<table class="table">
    <thead>
        <tr>
            <th>
                Referral Source Name
            </th>
            <th>
                Input Date
            </th>
             <th>
                View Referral
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var row in Model.list)
{
            <tr>
                <td>
                    @row.firstName @row.lastName
                </td>
                <td>
                    @row.inputdate
                </td>
                <td>
                    <a asp-controller="n" asp-action="detailReferralM" asp-route-clientCode="@row.refCode">View</a>
                </td>
            </tr>
}

    </tbody>
</table>
}
