@model List<HopePipeline.Models.DbEntities.Tracking.TrackingRow>;
@{
    ViewData["Title"] = "Tracking List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
<style>
  
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
</style>
<h2>Tracking</h2>
<h3>Showing @Model.Count</h3>

<form asp-controller="Tracking" asp-action="search">
    <input name="term" />
    <button type="submit">Search</button>
</form>


<table class="table" id="tracklist">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Phone number
            </th>
            <th>
                Status
            </th>
            <th>
                More Options
            </th>
            </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.lname) , @Html.DisplayFor(modelItem => item.fname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.phoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status)
                </td>
                <td>
                    <a asp-controller="Tracking" asp-action="MeetingList" asp-route-clientCode="@item.clientCode">Meetings</a> |
                    <div class="dropdown">
                        <a class="dropbtn">Change Status</a>
                        <div class="dropdown-content">
                            <a asp-controller="Tracking" asp-action="ChangeStatus" asp-route-clientCode="@item.clientCode" asp-route-status="1">"Open"</a>
                            <a asp-controller="Tracking" asp-action="ChangeStatus" asp-route-clientCode="@item.clientCode" asp-route-status="0">"Closed"</a>
                            <a asp-controller="Tracking" asp-action="ChangeStatus" asp-route-clientCode="@item.clientCode" asp-route-status="2">"Closed to Non-engagement"</a>
                        </div>
                    </div> |
                    <a asp-controller="n" asp-action="editTrackingM" asp-route-clientCode="@item.clientCode">Edit</a> |
                    <a asp-controller="n" asp-action="detailTrackingM">Details</a> |                    
                    <a asp-controller="Tracking" asp-action="ViewTrackRefs" asp-route-clientCode="@item.clientCode">View Referrals</a> |
                    <a asp-controller="Tracking" asp-action="Delete" asp-route-clientCode="@item.clientCode">Delete</a>
                </td>
            </tr>
            ;
        }
    </tbody>
</table>
